doctype html 
html 
    head 
        style 
            include ../static/style.css
    body
        nav#navbar
            ul
                li 
                    a(href='/') Home
                li  
                    a(href='/') About  
                li 
                    a(href='/') Services
                li 
                    a(href='/') Class Info
                li 
                    a(href='/contact') Contact us

        section#introSection
            div Welcome to Ankit Dance Academy
            div.small Eat Sleep Dance Repeat
        